#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: Pretendard;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: 2vh;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

#canvas {
    z-index: 1;
}
#ui {
    position: relative;
    z-index: 2;
}

.ui-wrapper {
    z-index: 8388636;
}

.yt-controller {
    position: fixed;
    top: calc(50vh - 6rem);
    width: 100vw;
    height: 6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    gap: 1rem;
    transition: color 1s ease-out, transform 0.5s ease-out;
    background-color: #00000080;
}

.yt-ctrl-hidden {
    transform: translateY(100%);
}

.yt-ctrl-visible {
    transform: translateY(0%);
}

.yt-progress {
    position: relative;
    width: 100%;
}

.yt-progress > .yt-progress-bar {
    height: 0.2rem;
    width: 110%;
    background-color: white;
    transform: translate(calc(-100% + 0.1rem), -100%) !important;
}

.yt-progress > .yt-progress-indicator {
    position: absolute;
    transform: translate(-50%, -50%);
}

.yt-icon {
    transition: all 0.2s ease-out;
}
.yt-icon:hover {
    color: #b00;
    cursor: pointer;
}

.yt-buttons {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.yt-buttons-disabled > *,
.yt-icon-disabled {
    transition: all 0.2s ease-out;
    color: #888;
}
